<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Files</title>
<link rel="stylesheet" href="../../style.css">
<script src="../../load-diff.js"></script>
</head>
<body>
{{ if not .Changes }}
<p class="no-changes">No changes</p>
{{ end }}
{{- range .Changes }}
{{- if eq .Operation "R" }}
<a class="file renamed" onclick="load(event)" data-tag1="{{ $.Tag1 }}" data-tag2="{{ $.Tag2 }}" data-name="{{ .Name }}" data-oldname="{{ .OldName }}" title="{{ .OldName }} → {{ .Name }}">{{ .OldName }} → {{ .Name }}</a>
{{- else if eq .Operation "D" }}
<a class="file deleted" onclick="load(event)" data-tag1="{{ $.Tag1 }}" data-tag2="{{ $.Tag2 }}" data-name="{{ .OldName }}" title="{{ .OldName }}">{{ .OldName }}</a>
{{- else if eq .Operation "A" }}
<a class="file new" onclick="load(event)" data-tag1="{{ $.Tag1 }}" data-tag2="{{ $.Tag2 }}" data-name="{{ .Name }}" title="{{ .Name }}">{{ .Name }}</a>
{{- else }}
<a class="file modified" onclick="load(event)" data-tag1="{{ $.Tag1 }}" data-tag2="{{ $.Tag2 }}" data-name="{{ .Name }}" title="{{ .Name }}">{{ .Name }}</a>
{{- end }}
{{ end }}
</body>
</html>
